전국 신용카드 데이터 불러오기

In [1]:
import pandas as pd

card_df = pd.read_csv('../data/지역_유형별 신용카드_(단위_억).csv', encoding= 'utf-8')
card_df

,"지역, 카테고리",전국_합계,전국_종합소매,전국_ 백화점,전국_ 대형마트/유통전문점,전국_ 슈퍼마켓,전국_ 편의점,전국_ 면세점,전국_전자상거래/통신판매,전국_식료품,...,기타_오락/문화,기타_ 스포츠/오락/여가,기타_ 서적/문구,기타_교육,기타_숙박/음식,기타_ 숙박,기타_ 음식점,기타_공과금/개인 및 전문 서비스,기타_금융/보험,기타_기타
0,2012/11,299970.34,53558.49,13695.10,26123.23,10604.38,1826.54,1309.25,29166.45,4778.33,...,199.11,170.57,28.54,59.54,406.89,32.29,374.60,135.28,149.68,220.67
1,2012/12,310533.02,57731.17,14542.45,28802.59,11308.05,1810.70,1267.38,29971.83,4895.34,...,157.60,129.33,28.27,57.97,421.34,34.17,387.16,133.34,139.66,210.24
2,2013/01,296732.27,51384.80,11189.07,25640.42,11435.88,1778.78,1340.65,28545.80,5024.76,...,148.65,118.30,30.35,70.66,435.66,39.59,396.07,159.48,144.30,230.65
3,2013/02,267365.92,48141.86,9748.40,25035.42,10602.32,1652.60,1103.11,24596.71,5510.28,...,115.72,91.37,24.35,59.00,332.70,24.29,308.40,123.70,126.38,214.44
4,2013/03,295640.18,49572.79,10873.94,24769.86,10904.74,1877.38,1146.88,26704.28,4775.35,...,167.24,129.95,37.29,66.02,376.96,26.64,350.32,129.63,141.08,225.45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,2021/12,539935.08,72991.73,16509.80,29238.11,17759.22,8968.91,515.68,132006.30,10014.39,...,48.16,39.11,9.05,33.21,204.97,11.36,193.60,89.73,108.63,99.44
110,2022/01,545394.92,76347.07,16044.01,31659.32,19422.93,8730.99,489.82,131621.64,12855.90,...,43.54,34.25,9.29,35.70,202.78,12.85,189.93,124.77,97.08,115.64
111,2022/02,470296.08,62651.29,12867.77,25751.48,15657.35,7927.86,446.83,119029.37,7986.69,...,38.94,32.40,6.54,29.49,166.96,11.19,155.78,84.38,91.09,88.90
112,2022/03,539346.45,71787.11,14932.79,28682.36,18116.34,9562.31,493.32,134751.97,8896.80,...,59.91,48.73,11.18,33.54,194.62,9.98,184.65,87.45,117.69,105.94
113,2022/04,551389.61,72791.62,16272.46,28736.88,17730.61,9418.61,633.06,130324.09,9477.90,...,68.18,60.01,8.17,31.44,225.23,10.70,214.53,89.46,107.07,117.50

공백 제거 및 인덱스 변경

In [2]:
# 공백 제거
card_df = card_df.replace(" ", "")

# 컬럼명 변경 및 인덱스 지정
card_df.rename(columns={'지역, 카테고리':'날짜'}, inplace= True)
card_df.set_index('날짜', inplace= True)

card_df.head()

,전국_합계,전국_종합소매,전국_ 백화점,전국_ 대형마트/유통전문점,전국_ 슈퍼마켓,전국_ 편의점,전국_ 면세점,전국_전자상거래/통신판매,전국_식료품,전국_ 일반식료품,...,기타_오락/문화,기타_ 스포츠/오락/여가,기타_ 서적/문구,기타_교육,기타_숙박/음식,기타_ 숙박,기타_ 음식점,기타_공과금/개인 및 전문 서비스,기타_금융/보험,기타_기타
날짜,,,,,,,,,,,,,,,,,,,,,
2012/11,299970.34,53558.49,13695.10,26123.23,10604.38,1826.54,1309.25,29166.45,4778.33,4171.52,...,199.11,170.57,28.54,59.54,406.89,32.29,374.60,135.28,149.68,220.67
2012/12,310533.02,57731.17,14542.45,28802.59,11308.05,1810.70,1267.38,29971.83,4895.34,4342.47,...,157.60,129.33,28.27,57.97,421.34,34.17,387.16,133.34,139.66,210.24
2013/01,296732.27,51384.80,11189.07,25640.42,11435.88,1778.78,1340.65,28545.80,5024.76,4400.68,...,148.65,118.30,30.35,70.66,435.66,39.59,396.07,159.48,144.30,230.65
2013/02,267365.92,48141.86,9748.40,25035.42,10602.32,1652.60,1103.11,24596.71,5510.28,4853.38,...,115.72,91.37,24.35,59.00,332.70,24.29,308.40,123.70,126.38,214.44
2013/03,295640.18,49572.79,10873.94,24769.86,10904.74,1877.38,1146.88,26704.28,4775.35,4113.91,...,167.24,129.95,37.29,66.02,376.96,26.64,350.32,129.63,141.08,225.45

지역 별로 데이터 분리

In [3]:
# 지역 확인
name = card_df.filter(regex='_합계')
name.columns

Index(['전국_합계', '서울_합계', '부산_합계', '대구_합계', '인천_합계', '광주_합계', '대전_합계', '울산_합계',
       '경기_합계', '강원_합계', '충북_합계', '충남_합계', '전북_합계', '전남_합계', '경북_합계', '경남_합계',
       '제주_합계', '기타_합계'],
      dtype='object')

In [4]:
# 전국
card_all_df = card_df.filter(regex='전국_')

# 광역 시도
card_seoul_df = card_df.filter(regex='서울_')
card_busan_df = card_df.filter(regex='부산_')
card_deagu_df = card_df.filter(regex='대구_')
card_incheon_df = card_df.filter(regex='인천_')
card_gwangju_df = card_df.filter(regex='광주_')
card_daejeon_df = card_df.filter(regex='대전_')
card_ulsan_df = card_df.filter(regex='울산_')

# 도
card_gyeonggi_df = card_df.filter(regex='경기_')
card_gangwon_df = card_df.filter(regex='강원_')
card_chungcheong_df = pd.merge(card_df.filter(regex='충북_'), card_df.filter(regex='충남_'), on="날짜", how="left")
card_jeolla_df = pd.merge(card_df.filter(regex='전북_'), card_df.filter(regex='전남_'), on="날짜", how="left")
card_kyungsang_df = pd.merge(card_df.filter(regex='경북_'), card_df.filter(regex='경남_'), on="날짜", how="left")
card_jeju_df = card_df.filter(regex='제주_')
card_etc_df = card_df.filter(regex='기타_')

CSV 파일로 저장

In [5]:
# 전국
card_all_df.to_csv('../data/card_all_df.csv', encoding='utf-8', index=False)

# 광역 시도
card_seoul_df.to_csv('../data/card_seoul_df.csv', encoding='utf-8', index=False)

card_busan_df.to_csv('../data/card_busan_df.csv', encoding='utf-8', index=False)
card_deagu_df.to_csv('../data/card_deagu_df.csv', encoding='utf-8', index=False)
card_incheon_df.to_csv('../data/card_incheon_df.csv', encoding='utf-8', index=False)
card_gwangju_df.to_csv('../data/card_gwangju_df.csv', encoding='utf-8', index=False)
card_daejeon_df.to_csv('../data/card_deajeon_df.csv', encoding='utf-8', index=False)
card_ulsan_df.to_csv('../data/card_ulsan_df.csv', encoding='utf-8', index=False)

# 도
card_gyeonggi_df.to_csv('../data/card_gyeonggi_df.csv', encoding='utf-8', index=False)
card_gangwon_df.to_csv('../data/card_gangwon_df.csv', encoding='utf-8', index=False)
card_chungcheong_df.to_csv('../data/card_chungcheong_df.csv', encoding='utf-8', index=False)
card_jeolla_df.to_csv('../data/card_jeolla_df.csv', encoding='utf-8', index=False)
card_kyungsang_df.to_csv('../data/card_kyungsang_df.csv', encoding='utf-8', index=False)
card_jeju_df.to_csv('../data/card_jeju_df.csv', encoding='utf-8', index=False)
card_etc_df.to_csv('../data/card_etc_df.csv', encoding='utf-8', index=False)