In [11]:
import pandas as pd

df = pd.read_csv('./data/card_indexes.csv')
df.head()

,날짜,전자상거래/통신판매,가구/가전,의류/잡화,스포츠/오락/여가,식료품,연료,여행/교통,숙박,음식점,...,기타,소비자물가지수,소매판매지수,국고채 3년(평균),국고채 5년(평균),국고채 10년(평균),회사채 3년(평균),CD 91물(평균),"콜금리(1일물,평균)",기준금리
0,201212,0.027613,-0.122218,-0.031449,-0.135839,0.024488,-0.019097,0.071612,0.157793,0.120456,...,0.064302,0.001782,0.023590,0.017857,0.038328,0.046823,-0.006024,0.010526,0.000000,0.0
1,201301,-0.047579,-0.006880,-0.156039,-0.113972,0.026437,-0.023171,0.059998,0.001434,-0.088791,...,0.006943,0.005999,-0.086172,-0.035088,-0.040268,-0.025559,-0.030303,-0.006944,0.003636,0.0
2,201302,-0.138342,-0.023821,-0.068648,-0.150124,0.096626,-0.088923,-0.141945,-0.258858,-0.153638,...,-0.085328,0.003343,-0.048246,-0.018182,-0.010490,-0.003279,-0.043750,-0.010490,-0.003623,0.0
3,201303,0.085685,0.270387,0.183154,0.355010,-0.133374,0.112232,0.045869,0.041971,0.198088,...,0.094873,-0.000924,0.078341,-0.037037,-0.049470,-0.042763,-0.035948,-0.007067,-0.003636,0.0
4,201304,0.045225,-0.081842,-0.009763,0.028387,0.001931,-0.027114,0.060437,0.008076,0.001713,...,0.010427,-0.001388,-0.018162,-0.019231,-0.022305,-0.024055,-0.013559,-0.003559,0.003650,0.0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 25 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   날짜            111 non-null    int64
 1   전자상거래/통신판매    111 non-null    float64
 2   가구/가전         111 non-null    float64
 3   의류/잡화         111 non-null    float64
 4   스포츠/오락/여가     111 non-null    float64
 5   식료품           111 non-null    float64
 6   연료            111 non-null    float64
 7   여행/교통         111 non-null    float64
 8   숙박            111 non-null    float64
 9   음식점           111 non-null    float64
 10  서적/문구         111 non-null    float64
 11  교육            111 non-null    float64
 12  의료/보건         111 non-null    float64
 13  공과금/개인및전문서비스  111 non-null    float64
 14  금융/보험         111 non-null    float64
 15  기타            111 non-null    float64
 16  소비자물가지수       111 non-null    float64
 17  소매판매지수        111 non-null    float64
 18  국고채 3년(평균)    111 non-null    float64
 19  국고채 5년(평균)    111 non-null    float64
 20  국고채 10년(평균)   111 non-null    float64
 21  회사채 3년(평균)    111 non-null    float64
 22  CD 91물(평균)    111 non-null    float64
 23  콜금리(1일물,평균)   111 non-null    float64
 24  기준금리          111 non-null    float64
dtypes: float64(24), int64(1)
memory usage: 21.8 KB

In [13]:
df[df["날짜"]==201912]

,날짜,전자상거래/통신판매,가구/가전,의류/잡화,스포츠/오락/여가,식료품,연료,여행/교통,숙박,음식점,...,기타,소비자물가지수,소매판매지수,국고채 3년(평균),국고채 5년(평균),국고채 10년(평균),회사채 3년(평균),CD 91물(평균),"콜금리(1일물,평균)",기준금리
84,201912,0.035942,-0.039294,-0.025682,-0.092145,0.031186,0.029081,0.064466,0.213733,0.12028,...,-0.011731,0.002392,0.009967,-0.067114,-0.069182,-0.057143,-0.025,0.006579,0.0,0.0

In [14]:
pre_corona_df = df.iloc[:85]
pre_corona_df.tail()

,날짜,전자상거래/통신판매,가구/가전,의류/잡화,스포츠/오락/여가,식료품,연료,여행/교통,숙박,음식점,...,기타,소비자물가지수,소매판매지수,국고채 3년(평균),국고채 5년(평균),국고채 10년(평균),회사채 3년(평균),CD 91물(평균),"콜금리(1일물,평균)",기준금리
80,201908,-0.035341,-0.022230,-0.078643,-0.013531,0.106934,0.070918,-0.082861,0.288231,0.041727,...,0.023194,0.002400,0.009050,-0.159420,-0.154930,-0.172185,-0.105820,-0.113095,-0.073620,0.000000
81,201909,0.007732,-0.120368,0.053118,-0.056002,0.266215,-0.088505,-0.109442,-0.342233,-0.132191,...,-0.029398,0.003711,0.016143,0.112069,0.125000,0.136000,0.059172,0.033557,0.006623,0.000000
82,201910,0.075294,0.042041,0.175382,0.176650,-0.189585,0.070990,0.128889,0.176088,0.099193,...,0.051985,0.002475,0.021183,0.054264,0.066667,0.112676,0.039106,-0.051948,-0.111842,-0.166667
83,201911,0.054219,0.044813,-0.010022,-0.052854,0.022426,0.013927,0.013532,-0.111934,-0.046515,...,0.032947,-0.005598,0.040622,0.095588,0.104167,0.107595,0.075269,0.041096,-0.051852,0.000000
84,201912,0.035942,-0.039294,-0.025682,-0.092145,0.031186,0.029081,0.064466,0.213733,0.120280,...,-0.011731,0.002392,0.009967,-0.067114,-0.069182,-0.057143,-0.025000,0.006579,0.000000,0.000000